/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  body {
    font-size: 16px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  body {
    font-size: 14px;
  }
  section form input {
    width: 150px;
    height: 36px;
  }
  section form .button {
    margin-top: 0;
    width: 150px;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  section h1 {
    font-size: 1.3em;
    margin-top: 8vh;
    font-weight: 500;
  }
  section h2 {
    margin-top: 4vh;
    font-size: 1.2em;
    font-weight: 300;
  }
  section form {
    margin-top: 4vh;
    padding: 15px;
  }
  section form input {
    height: 32px;
    width: 250px;
    margin: 8px;
    padding: 0 15px;
  }
  section form .button {
    height: 46px;
    margin: 8px;
    width: 250px;
  }
}
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
